My teaching philosophy goes beyond traditional instruction. I focus on bridging academia and industry through applied, data‑driven projects. This approach is now evolving into a broader **Talent Foundry initiative** aimed at aligning advanced quantitative education with the realities of today’s job market.


At the Bachelor’s and Master’s levels, I have taught: 

- Financial Modeling

- Python and Data Analysis for Finance and Marketing

- Machine Learning and AI for Finance and Business

- Differential Equations, Time Series Analysis, and Stochastic Processes


---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}
